@font-face {
  font-family: "score1";
  src: url(../font/SCDream1.otf);
}

@font-face {
  font-family: "score2";
  src: url(../font/SCDream2.otf);
}

@font-face {
  font-family: "score3";
  src: url(../font/SCDream3.otf);
}