*{margin: 0;padding: 0;box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none; color: #000;}
body.stop_scroll {overflow: hidden; height:100%; min-height:100%; touch-action: none;}
header{width: 100%; height: 100px; background: transparent; position: absolute; top: 0; left: 0; z-index: 1; display: none;}
header.on{display: block;}
header .inner{width: 1180px; height: 100%; display: flex; justify-content: space-between; align-items: center; margin: 0 auto; color: #fff;} 
header .inner .gnb{display: flex; gap: 30px; font-size: 16px;}
header .inner a{color: #fff;}


figure{ width: 100%; height: 100vh; background: #fff;}
figure .inner{display: flex; justify-content: center; height: 100%; position: relative;}
figure .bg{background-color: black; width: 70%; height: 30%; position: absolute; top:calc(100vh - 100px); opacity: 0; }
figure .intro_txt {color: #fff; position: absolute; z-index: 1; top: 50%; left: 50%; transform: translate(-50%,-50%);}
figure .intro_txt.on span{color: #fff;}
figure .intro_txt span{color: #000; font-size: 50px; animation: textAni .6s forwards; opacity: 0; }

main{overflow: hidden;}
section{width: 100%; height: 100vh; overflow: hidden;}

section.sc1{background-color: aliceblue; position: relative; display: flex; align-items: center;}
section.sc2{background-color: #000;}
section.sc3{background-color: #000; width: 500vw;}
section.sc4{background-color: palevioletred;}
section .inner{width: 1180px; height: 100%; margin: 0 auto;}
section .inner .wrap{position: relative; width: 100%; height: 100%;}

section.sc1 .inner{position: relative; width: 1180px; padding: 200px 0; margin: 0 auto; display: flex; justify-content: center;}
section.sc1 .bg{width: 100%; height: 100%; position: absolute; background-color: #000; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.box{width: 200px;height: 200px; margin: 20px; background-color: #fff; float: left;}
.box1_1{width: calc(50% - 40px); height: calc(500px - 40px);}
.box1_2{width: calc(50% - 40px); height: calc(250px - 40px);}
.box1_3{width: calc(50% - 40px); height: calc(250px - 40px);}

section.sc2 .wrap{display: flex; justify-content: center; align-items: center;}
section.sc2 .box{ width: 70%; height: 70%; position: absolute; opacity: 0; transform: scale(0.85);} 
.box2_1{background-color: yellow;}
.box2_2{background-color: #bbf;}
.box2_3{background-color: #b1253b;}
.box2_4{background-color: pink;}

section.sc3 ul{width: 100%; height: 100%; gap: 100px; display: flex; align-items: center;}
section.sc3 ul li{width: 500px; height: 500px;}
section.sc3 ul li:nth-child(1){background-color: blue; margin-left: 100px;}
section.sc3 ul li:nth-child(2){background-color: yellow;}
section.sc3 ul li:nth-child(3){background-color: gainsboro;}
section.sc3 ul li:nth-child(4){background-color: green;}
section.sc3 ul li:nth-child(5){background-color: red;}


@keyframes textAni{
  0%{opacity: 0;}
  100%{opacity: 1;}
}